# Node
node_modules/

# Gradle / Android build outputs
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/capacitor-cordova-android-plugins/build/
android_variables

# IDE
.idea/
*.iml
.vscode/
